.container{
    display: flex;
    flex-flow: column;
    align-items: left;
    > div{
        padding: 0 10px;
    }
}

.controls{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.player_toggler{
    margin-right: 1rem;
    margin-left: .6rem;
}
.progress{
    margin-left: .5rem;
    max-width: 100%;
    min-width: 200px;
}