.container{
    // height: 80px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    max-height: 80vh;
    min-width: 350px;
    max-width: 100vw;
}
.currently_playing{
    flex: 1 0 300px;
}
.tracklist{
    max-height: 100%;
    padding: 1rem .5rem;
    overflow: auto;
    padding: 5px;
}

.track{
    margin-bottom: .5rem;
}