.container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
}
.currentlyPlaying{
    height: 300px;
    display: block;
}
.title__playing{
    padding: 5px;
}
.tracklist{
    padding: 0 .5rem;
    max-height: 100%;
    overflow: auto;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    
}

.track{
    padding: .5rem;
    cursor: pointer;
    &.playing, &:hover{
        background-color: rgba(0,0,0,.3);
    }
}