@import 'reset.css';
@import 'assets/fonts.scss';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

html{
  --light-grey: #f2f2f2;
  --dark-grey: #666;
}

body{
  font-family: Apercu Pro, sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

h1,h2,h3,h4{
 font-family: Apercu Pro, sans-serif; 
}
img, iframe{
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: underline;
  &:hover{
    color: inherit;
    text-decoration: none;
  }
}

*{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.app{
  opacity: 0;
}
.appear{
 animation: fadeIn .5s 1 ease-out forwards;
}


.triggerWrapper{
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.trigger{
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: $primary-color;
    border: darken($primary-color, 10%);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.with-counter{
        animation: wiggle .5s 2 ease-in-out;
    }
    margin-bottom: .5rem;
}

@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}