@import 'reset.css';
@import 'assets/fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body{
  font-family: Apercu Pro, sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

h1,h2,h3,h4{
 font-family: Apercu Pro, sans-serif; 
}
img, iframe{
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: underline;
  &:hover{
    color: inherit;
    text-decoration: none;
  }
}

*{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.app{
  opacity: 0;
}
.appear{
 animation: fadeIn .5s 1 ease-out forwards;
}

@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}