.wrapper, .playlistWrapper{
  display: grid;
  
}

.wrapper{
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
}
.playlistWrapper{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  overflow: hidden;
}
.thumb:nth-child(3n+2){
  transform: translateY(-50%);
  display: inline-block;
}
.name{
  margin-top: .5rem;
}
.square{
  box-shadow: 0 0 5px -3px black;
}