- content_for :body_class, "join-page"
.links-container.large
    - @links.each do |link|
        .thumb
            %div= image_tag link.thumbnail_url
.join-content
    %h1 Welcome to digging 2.0
    %h3 
        - if !@inviter.blank?
            #{@inviter} invited you to join his clique at Diggers' Delights
        - else
            You've been invited you to join a clique at Diggers' Delights
    = link_to  new_user_registration_path  do
        Sign up and join 
        %br
        #{@clique.name}
:javascript
    var direction = 1;
    function scrollTo(){
        var newY = $('.links-container').scrollTop()+direction;
        $('.links-container').scrollTop(newY)
        if(newY >= $('.links-container')[0].scrollHeight -  window.innerHeight || newY <= 0){
            direction = -direction;
        }
    }
    $('.links-container').scrollTop($('.links-container')[0].scrollHeight -  window.innerHeight);
    setTimeout(function(){$('.links-container').animate({opacity: 1}, 2500);}, 1000)
    setInterval(scrollTo, 50);