%p#notice= notice
%h1 Invite your friends to join #{@clique.name}!
%h4 To invite new friends to contribute to your clique, simply send them this email, the rest should be pretty straightforward.
%b= join_clique_url @clique
= link_to 'Edit', edit_clique_path(@clique)
