@import '../_variables.scss';

$background: $background-grey;

.container{
    position: fixed;
    top: 0;
    left: 0;
    @media #{$mobile}{
        width: 100%;
    }
    @media #{$tablet}{
        top: 1rem;
        left: 50%;
        width: 600px;
        min-width: 480px;
        transform: translateX(-50%);
    }
    z-index: 50;
    color: $black;
    background: white;
    border: 1px solid var(--light-grey);
    border-radius: 1px;
}

.menuWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menuItem{
    padding: .5rem 1rem;
    cursor: pointer;
    text-decoration: none;
}
.tabsWrapper{
    max-height: 360px;
    overflow: auto;
}