= asset_pack_url('application.js')
-# - f = open(asset_pack_url('application.js'))
-# - f.each_line do |l|
-#   = l.html_safe
-# -# raw Rails.application.assets.find_asset('api/v4/reader/reader_ios.css').to_s
