.container{
    position: relative;
}
.drawer{
    $background-color: rgba(255,255,255, .9);
    background-color: $background-color;
    position: absolute;
    bottom: 2.8rem;
    border-radius: 3px;
    min-width: 20rem;
    max-width: 20rem;
    font-size: .8rem;
    border: darken(white, 30%) solid 1px;
    transition: all .25s ease-in-out;
    &.closed{
        pointer-events: none;
        opacity: 0;
        transform: translateY(16px);
    }
    &.open{
        opacity: 1;
        transform: translateY(6px);
    }
    // stolen from cushion \o/
    &:before{
        content: '';
        position: absolute;
        top: 100%;
        left: 15px;
        width: 12px;
        height: 12px;
        margin-top: 1px;
        -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
        transform: translate3d(-50%,-50%,0) rotate(45deg);
        background-color: inherit;
        border: inherit;
        border-left: none;
        border-top: none;
        z-index: -1;
    }
}


@keyframes pop-in{
    from{
        transform: translate(30%, -30%) scale(0.1);
        opacity: .5;
    }
    to{
        opacity: 1;
        transform: translate(30%, -30%) scale(1);
    }
} 