.container{
  padding: 0 .5rem;
}
.userTag{
  margin-top: .5rem;
  margin-right: .5rem;
  padding: 3px 0 3px 3px;
}
.userTag:hover .close{
  opacity: 1;
}
.close{
  opacity: 0;
  padding-right: 3px;
  cursor: pointer;
}