@import '../../_variables';

$bell-color: lighten($primary-color, 40%);


.container{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
    padding-top: 45px;
    max-width: 300px;
    overflow: hidden;
}

.svg_container{
    position: absolute;
    top: 10px;
    transform: translateX(-50%) scaleX(1.6);
}
.small{
  &.container{
    padding-top: 22px
  }
  .svg_container > svg{
    height: 30px;
  }
}
.bell{
    fill: lighten($primary-color, 80%);
}

.input{
    width: 100%;
    position: relative;
}

.hint{
  padding-left: 0;
  // to accomodate for the italics "hard"
  padding-right: 3px;
  margin-top: -1.5rem;
}

// RANGE SLIDER

@mixin thumb(){
    height: 100px;
    width: 35px;
    background-image: url('./gaussian.svg');
    background: transparent;
    cursor: grab;
    border: none;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}


input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb{
    cursor: grab;
}

input[type=range]::-moz-range-thumb{
    @include thumb();
}
input[type=range]:active::-moz-range-thumb{
    cursor: grabbing;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -40px;
  @include thumb();
  cursor: -webkit-grab;
}
input[type=range]:active::-webkit-slider-thumb{
    cursor: -webkit-grabbing;
}

input[type=range]::-ms-thumb {
  height: 11.4px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px solid $bell-color;
}

input[type=range]:focus::-webkit-slider-runnable-track {

}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: $bell-color;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.78);
}
