@import '../../variables';

.container{
    min-width: 100%;
    max-width: 100%;
    padding: 1rem;
    position: relative;
}

.clique_name{
    width: 100%;
    margin-top: 1rem;
}

.users_container{
    display: flex;
    flex-wrap: wrap;
}
.filter_item{
    margin-bottom: .5rem;
    margin-right: .5rem;
    flex-basis: calc(25% - .5rem);
    .inactive{
        cursor: disabled;
        pointer-events: none;
        

    }
    [dataCount]:after{
        content: attr(dataCount);
        font-size: smaller;

    }
}

.mood{
    .clique_name{
        font-size: smaller;
        max-width: 1.9ch;
        word-break: break-word;
        line-height: 1;
        text-align: center;
    }
}