.infos{
    padding: 5px 0 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0,0,0,.3);
}
.bottom{
    flex-grow: 10;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
}
.title{
    margin-top: 0;
    font-size: 1.2rem;
}
.submitted{
    font-size: .9rem;
    float: right;
}
.controls{
    float: right;
    display: inline-block;
}


.full_bg{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}