%b Step 1: 
%p
    = link_to "Create an account", new_user_registration_path
    \, confirm and sign in
%b Step 2:
%p
    Drag this button to your toolbar
    %br
    %a.btn.btn-large.btn-primary{href:URI.encode(@bookmarklet), title: "Tsilp me"} Bookmarklet
%b Step 3:
%p
    On any page, click the bookmarklet. You may fill the tags in, the genre, and a description

%b Step 4:
%p
    There is no step 5. That's the whole point actually...