%h2 We're all set
%h1 Welcome to Diggers'Delights!

%p 
    You just joined 
    %em #{current_user.cliques.first.try(:name)}

%b To get started:
%p
    Drag the following button to your bookmarks toolbar
    %br
    %a.btn.btn-large.btn-primary{href:URI.encode(@bookmarklet), title: "DiggersDelights me"} DD

%p
    On any page, click the bookmarklet. You may fill the tags in, the genre, and add a short description

%p Currently supported services:
%ul 
    %li Soundcloud
    %li Bandcamp
    %li Youtube
    %li Mixcloud
    %li 
        Any other listed
        = link_to "here", "https://oembed.com/#section7.1", target: "_blank"