.row
  .col-xs-12.col-sm-2.col-md-1#filters
    %h4 Users
    %ul
      - @users.each do |user|
        %li
          = link_to user.name, links_path(user_id: user.id)
    %h4 Tags
    %ul
      - @tags.each do |tag|
        %li
          = link_to tag.name, links_path(tag_names: tag.name)
    %h4 Genres
    %ul
      - @genres.each do |tag|
        %li
          = link_to tag.name, links_path(tag_names: tag.name)
  .col-xs-12.col-sm-5.col-md-11#playlist
    - @links.each do |link|
      = render 'full_as_embed', link: link
  -# .col-xs-12.col-sm-5.col-md-7
  -#   #embed{"data-turbolinks-permanent": true}
