%p 
  Your link has been posted!
- if @link.oembed.blank?
  %p 
    We were not able to find a media for your link. If you think we should have,
    = link_to "Let us know!", contact_url, target: '_blank'
- else
  = render 'full_as_embed', link: @link