.dont_show{
    text-align: left;
    font-style: italic;
    cursor: pointer;
    font-size: smaller;
    margin-top: .5rem;
    margin-left: 2px;
}

.counter{
    vertical-align: middle;
    font-family: Montserrat, sans-serif;
    font-size: xx-large;
}