@import '../_variables.scss';

body{
    //padding-top: calc(3.5rem - 2px);
}

$background: transparentize($primary-color, .1);

.container{
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 50;
    color: white;
    display: flex;
    flex-flow: row;
    background: $background;
    padding: .2rem 1rem 0rem 0;
    max-width: calc(35vw - 2rem);
    min-width: 480px;
    box-shadow: 0 2px 4px transparentize($primary-color, .82);
}

.links_wrapper{
    display: flex;
    padding-top: 4px;
    a{
        display: inline-block;
        text-align: center;
        .horizontal &{
            width: 10ch;
        }
        text-decoration: none;
        text-transform: lowercase;
        &:hover{
            text-transform: uppercase;
        }
    }
    .menu__active{
        text-transform: uppercase;
    }
}

.submenu{
    width: calc(100% - 2rem);
    margin-top: .2rem;
    padding-left: 1.1rem;
    align-self: flex-end;
    .menu{
        width: auto;
        font-size: smaller;
    }
}

.icon{
    padding: 0 .5rem;
    border-right: solid 1px lighten($primary-color, 40%);
    .vertical &{
        margin-right: .5rem;
        width: 2rem;
        margin-bottom: 1px;
    }
}
.handles{
    z-index: 49;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s .3s;
    .container:hover &{
        opacity: 1;
        transition: all .1s 0s;
        pointer-events: auto;
        transform: translateY(-100%);
    }
    font-size: smaller;
    background: $background;
    border-right: solid 1px  darken($primary-color, 5%);
    .vertical &{
        border-right: none;
        border-bottom: solid 1px  darken($primary-color, 5%);
    }
    position: absolute;
    left: 0; 
    transform: translateY(-70%);
}

.handle{
    padding: 7px;
}

.submenu .menu, .handle{
    color: lighten(#1EA896, 40%);
    &:hover{
        color: lighten(#1EA896, 90%);
    }
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    .wrapper:hover &{
        display: inline-block;
    }
}

.vertical{
    flex-flow: column;
    .container{
        flex-flow: column;
        min-width: 0px;
    }
    .link_title{
        min-width: 10ch;
    }
    .submenu{
        display: none;
    }
    .links_wrapper a{
        text-align: left;
    }
}

// PANELS
.panel{
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    background: $primary-color;
    max-height: 80vh;
    overflow: auto;
    .vertical &{ 
        min-height: 400px;
        min-width: 200%;
        transition: all .15s ease-in-out;
    }
    .panel__left &{
        left: -200%;
        top: 0;
    }
    .panel__right &{
        left: 100%;
        top: 0;
    }
    .panel__under &{
        top: calc(3.5rem + 1px)
    }
    .panel__over &{
        bottom: calc(3.5rem + 1px);
    }
    .menu__open &{
        display: inline-block;
    }
}
