@import '../_variables.scss';

body{
    //padding-top: calc(3.5rem - 2px);
}

$background: transparentize($primary-color, .2);

.container{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 50;
    color: white;
    display: flex;
    flex-flow: row;
    background: $background;
    padding: .2rem 1rem 0rem 0;
    max-width: calc(100vw - 2rem);
    box-shadow: 0 2px 4px transparentize($primary-color, .82);
}

.links_wrapper{
    display: flex;
    a{
        display: inline-block;
        text-align: center;
        width: 10ch;
        text-decoration: none;
        text-transform: lowercase;
        &:hover{
            text-transform: uppercase;
        }
    }
    .menu__active{
        text-transform: uppercase;
    }
}

.submenu{
    width: calc(100% - 2rem);
    margin-top: .2rem;
    padding-left: 1.1rem;
    align-self: flex-end;
    > a{
        width: auto;
        font-size: smaller;
    }
}

.panel{
    min-width: 500px;
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    background: $primary-color;
    max-height: 500px;
    overflow: auto;
    .panel__under &{
        top: calc(3rem - 1px);
    }
    .panel__over &{
        bottom: calc(3rem - 1px);
    }
}

.panel__open{
    display: inline-block;
}

.handle{
        font-size: smaller;
        cursor: move;
        padding: 7px;
        background: $background;
        border-right: solid 1px  darken($primary-color, 5%);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(calc(-100% + 1px));
        
}
.submenu a, .handle{ 
    color: darken(white, 15%);
    &:hover{
        color: white;
    }
}