@import '../_variables.scss';

$background: $background-grey;

.container{
    position: fixed;
    top: 0;
    left: 0;
    @media #{$mobile}{
        width: 100%;
    }
    @media #{$tablet}{
        top: 1rem;
        left: 50%;
        width: 600px;
        transform: translateX(-50%);
    }
    z-index: 50;
    color: $black;
    background: $background;
    min-width: 480px;
    box-shadow: 0 2px 4px transparentize($primary-color, .82);
}

.menuWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menuItem{
    padding: .5rem 1rem;
}
.tabsWrapper{
    max-height: 360px;
    overflow: auto;
}