@import "../variables";

.container__grid{
    display: flex;
    flex-flow: row wrap;
}

.item__grid{
    display: inline-flex;
    flex: 1 1 100%;
    @media #{$tablet}{
        flex: 1 1 50%;
    }
    @media #{$md}{
        flex: 1 1 33.33%;
    }
    @media #{$lg}{
        flex: 1 1 15%;
    }
    max-width: 35%;
    padding: 5px 5px;
    position: relative;
    &:hover, &.playing{
        cursor:pointer;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    .nouse-icon{
        opacity: .3;
    }
    .thumbnail{
        margin-bottom: 0;
    }
    .item{
    }
}