@import '../variables';

.container{
    background: rgba(0,0,0,0.3);
    position: fixed;
    right: 10px;
    top: 10px;
    min-width: 20rem;
    z-index: 50;
    color: $white;
    padding: 1rem;
}

.clique_name{
    width: 100%;
    margin-top: 1rem;
}

.filter_item{
    width: 100%;
    margin-top: .5rem;
    cursor: pointer;
    &.active{
        font-weight: bold;
    }
}