@import '../variables';

.container{
    background-color: transparentize(#111111, 0.2);
    position: fixed;
    right: 10px;
    top: 10px;
    min-width: 20rem;
    z-index: 50;
    color: $white;
    padding: 1rem;
}

.clique_name{
    width: 100%;
    margin-top: 1rem;
}

.users_container{
    display: flex;
    flex-wrap: wrap;
}
.filter_item{
    margin-bottom: .5rem;
    margin-right: .5rem;
    cursor: pointer;
    text-transform: lowercase;
    color: darken(white, 30%);
    &.active, &:hover{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}