@import "../_variables.scss";

.container{
    background-color: lighten($primary-color, 5%);
    margin: auto;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.form_container{
    overflow: auto;
    padding-top: 1rem;
}

.form_container, .details{
    padding: 5px;
}

.details{
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    background-color: $primary-color;
    color: $white;
    padding-right: 40px;
    border-bottom: 1px solid darken($primary-color, 5%);
}
.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: larger;
}
.url{
    color: $background-grey;
    font-size: smaller;
    font-style: italic;
}
.thumbnail{
    max-height: 3rem;
    margin-right: 1rem;
}


.help_text{
    font-style: italic;
    margin-left: .5rem;
    color: darken(white, 5%);
}