@import '../_variables.scss';
.site_name{
    color: $primary-color;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    animation: pop-in .5s 1 cubic-bezier(0.33, 1.06, 0.27, 1.34);
    .top{
        font-size: 1.8em;
        font-weight: bolder;
        line-height: .5;
    }
    @media #{$tablet}{
        font-size: 2rem;
        .top{
            font-size: 1.8em;
        }
    }
    &:hover{
        transition: all 5s ease-out;
        span{
            animation: rotate 2s infinite linear;
            display: inline-block;
        }
    }
}

@keyframes pop-in{
    from{ transform: scale(.2)}
    to{ transform: scale(1)}
}

@keyframes rotate{
    from{ transform: rotate(0deg)}
    to{ transform: rotate(360deg)}
}