.join-page {
    header{
        display: none;
    }
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        min-width: 100vw;
    }
    #wrap{
        padding-bottom: 0;
    }
    .thumb{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.join-content{
    color: white;
    position: relative;
    text-align: center;
    a, a:hover{
        color: white;
        text-transform: uppercase;
    }
}

.links-container{
    opacity: 0;
    background: black;
    &:after{
        content: '';
        flex-grow: 50;
    }
}