%h1 My Crates

%ul.playlists-container
  - @playlists.each do |playlist|
    .playlist__item.thumbnail
      = link_to playlist do 
        .links-container
          - playlist.links.each do |link|
            .playlist__thumb= image_tag link.thumbnail_url
        %h3.playlist__title= playlist.name
  .playlist__item.playlist__item--add.thumbnail
    = link_to "Add Crate", new_playlist_path