%h1 My Crates

%ul.playlists-container
  - @playlists.each do |playlist|
    = render 'item', playlist: playlist
  .playlist__item.playlist__item--add.thumbnail
    = link_to "Add Crate", new_playlist_path