.links_container{
    opacity: 0.5;
    background: black;
    &:after{
        content: '';
        flex-grow: 50;
    }
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: brightness(50%);
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    pointer-events: none;
}