@import '../../_variables.scss';

.links_container{
    background: black;
    &:after{
        content: '';
        flex-grow: 50;
    }
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: brightness(50%);
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    pointer-events: none;
    min-height: 80px;
    flex: 1 1 20%;
    @media #{$tablet}{
        flex: 1 1 10%;
    }
}

.provider{
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1rem;
}